@model ConsumeAwsS3Api.Models.AwsS3FileDetailsViewModel

@{
    ViewData["Title"] = "ResizeAwsS3AllFile";
}

<br />
<br />
<div class="alert alert-success" role="alert" id="alert-success">
    <h4 class="alert-heading">Well done!</h4>
    <p>Image resized Successfully.</p>
    <hr>
    <p class="mb-0">@Html.ActionLink("Go back to Amazon S3 file list","GetAwsS3AllFiles")</p>
</div>

